<style type="text/css">

/***************************** Page superstructure ****************************/

html {
	/* rem definition */
	font-size: calc(10px + 0.5vw);
}

body {
	--min-font-size: 14;
	--max-font-size: 16;
	--min-font-size-px: calc(var(--min-font-size) * 1px);
	--max-font-size-px: calc(var(--max-font-size) * 1px);
	--logo-height: calc(25px + 1.5rem);
	--logo-margin: calc(4px + 0.5rem);
	--header-height: calc(var(--logo-height) + 2*var(--logo-margin));
	--burger-height: calc(25px + 0.75rem);
	--nav-color-darker: #242E2F;
	--nav-color-dark: #2A3435;
	--nav-color-light: #313B3C;
	margin: 0;
	background-color: #f6f6f4;
	color: #25292b;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: calc(var(--min-font-size-px));
}

@media screen and (min-width: 400px) {
	body {
		/* Minimum until 400px width
		   Maximum after 1600px width
		   Linear interpolation in between */
		font-size: calc(var(--min-font-size-px) + (var(--max-font-size) - var(--min-font-size)) * (100vw - 400px) / (1600 - 400));
	}
}

@media screen and (min-width: 1600px) {
	body {
		font-size: calc(var(--max-font-size-px));
	}
}

body > header {
	text-align: center;
	background: linear-gradient(var(--nav-color-darker), var(--nav-color-dark));
	min-height: 2em;
}

body > header #logo {
	font-size: calc(var(--logo-height));
	margin: calc(var(--logo-margin)) 0;
	color: #f6f6f4;
	text-shadow: none;
	transition: text-shadow 200ms cubic-bezier(0,1,.25,1);
}

body > header #logo:hover {
	text-shadow: 0 0 5px #f6f6f4;
	transition: text-shadow 150ms cubic-bezier(0,1,.25,1);
}

body > main {
	min-height: 50vh;
	margin-top: calc(8px + 1.1rem);
	margin-bottom: calc(10px + 0.5rem);
}

body > footer {
	flex-grow: 1;
	text-align: center;
	min-height: 6vh;
	background: linear-gradient(#313B3C,#242E2F);
	box-shadow: 0 -6px 8px rgba(0,0,0,0.18);
	color: #676767;
}

/****************************** Navigation ******************************/

body > header > nav {
	flex-direction: row;
	justify-content: center;
	padding-top: 0;
	margin: auto;
}

#header-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

#menu li {
	color: #CECECE;
	cursor: pointer;
}

#menu li:hover {
	color: #EEEEEE;
}

#menu li:active {
	color: #FFFFFF;
}

#menu-open-button,
#menu-close-button {
	cursor: pointer;
	color: #CECECE;
}

#menu-open-button {
	position: absolute;
	top: calc((var(--header-height) - var(--burger-height)) /2);
	left: calc((var(--header-height) - var(--burger-height)) /2);
	font-size: calc(var(--burger-height));
}

#menu-open-button:hover {
	filter: drop-shadow(0px 0px 3px rgba(200,200,200,0.5));
}

#menu-open-button i {
	vertical-align: top;
	text-decoration: none;
}

#menu {
	z-index: 3;
	position: fixed;
	top: 0;
	width: 70%;
	max-width: 35ex;
	height: 100%;
	background: linear-gradient(var(--nav-color-dark), var(--nav-color-light));
	box-shadow: 1ex 0 1em rgba(0, 0, 0, 0.25);
	user-select: none;
	overflow: hidden;
}

#menu:not(:target) {
	box-shadow: none;
	transform: translateX(-100%);
	transition: transform 500ms cubic-bezier(0,1,.25,1);
}

#menu:target {
	transform: translateX(0);
	transition: transform 500ms cubic-bezier(0,1,.25,1);
}

#menu-close-button {
	position: absolute;
	top: calc((var(--header-height) - var(--burger-height)) /2);
	left: calc((var(--header-height) - var(--burger-height)) /2);
	font-size: calc(var(--burger-height));
}

#menu-close-button:hover {
	filter: drop-shadow(0px 0px 3px rgba(200,200,200,0.5));
}

#menu-close-button i {
	vertical-align: top;
	text-decoration: none;
}

#menu-close-overlay {
	display: block;
	transform: none;
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.25);
}

#menu:not(:target) + #menu-close-overlay {
	visibility: hidden;
	opacity: 0;
	transition: opacity 500ms cubic-bezier(0,1,.25,1);
}

#menu:target + #menu-close-overlay {
	visibility: visible;
	opacity: 1;
	transition: opacity 500ms cubic-bezier(0,1,.25,1);
}

#home-logo-link {
	display: flex;
	text-decoration: none;
	outline: none;
}

#menu > ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	padding-top: calc(var(--header-height))
}

#menu > ul > a {
	display: none;
}

#menu li {
	font-family: Raleway, sans-serif;
	display: block;
	border-top: 1px solid #444;
	border-left: none;
}

#menu > ul > li:last-child {
	border-bottom: 1px solid #444;
}

#menu li:hover {
	background-color: #444;
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

#menu ul li ul {
	padding-left: 1.4rem;
	border-top: none;
}

#menu ul li ul li ul {
	padding-left: 0.75rem;
}

#menu > ul > li > ul > li {
	border-left: 1px solid #444;
}

#menu > ul > li > ul > li:hover {
	border-left: 1px solid #666;
}

#menu ul li ul li:hover {
	background-color: none;
	box-shadow: none;
}

#menu ul li ul li {
	border-top: none;
}

#menu ul li ul a {
	font-size: 1rem;
	padding-left: 0.65rem;
}

#menu ul li ul li ul a::before {
	content: "〉";
}

#menu ul li ul li ul a {
	font-size: 0.9rem;
}

ul.ch > li.ch,
ul.cn > li.cn,
ul.de > li.de,
ul.es > li.es,
ul.fr > li.fr,
ul.it > li.it,
ul.jp > li.jp,
ul.kr > li.kr,
ul.uk > li.uk,
ul.us > li.us,
ul.ru > li.ru,
ul.tr > li.tr,
ul.ir > li.ir  {
	background-color: #444;
	padding-left: 0;
	border-left: solid 4px #A91101;
}

#menu ul a {
	display: block;
	padding: 0.50rem 1.4rem;
	cursor: pointer;
	color: #CECECE;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 125%;
	outline: none;
}

#menu ul a:hover {
	color: #eaeaea;
}

@media screen and (min-width: 1024px) {
	#menu {
		overflow: visible;
	}

	#menu-open-button, #menu-close-button {
		display: none;
	}

	#menu-close-overlay {
		display: none;
	}

	#menu:not(:target), #menu:target {
		position: absolute;
		top: calc(var(--header-height));
		left: 0;
		transform: none;
		transition: none;
		width: 100%;
		height: initial;
		max-width: initial;
		box-shadow: 0 6px 5px rgba(0,0,0,0.25);
		transition: box-shadow 200ms ease-in-out;
	}

	#menu.scroll:not(:target), #menu.scroll:target {
		position: fixed;
		top: 0;
		left: 0;
		box-shadow: 0 4px 8px rgba(0,0,0,0.35);
		transition: box-shadow 200ms ease-in-out;
	}

	#menu ul {
		flex-direction: row;
		justify-content: center;
		padding-top: 0;
		margin: auto;
	}

	#menu li {
		position: relative;
		border-top: none;
		border-bottom: none;
		border-right: 1px solid #333;
		border-left: none;
		padding-left: 0;
	}

	#menu li:last-child {
		border-right: none;
		border-bottom: none;
	}

	#menu > ul > li > ul > li,
	#menu > ul > li > ul > li:hover {
		border-left: none;
	}

	#menu ul li ul {
		position: absolute;
		padding-left: 0;
		left: 0;
		background: linear-gradient(var(--nav-color-dark), var(--nav-color-light));
		box-shadow: 0 0 1em rgba(0, 0, 0, 0.35);
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s linear 0.3s, opacity 0.3s ease-out;
	}

	#menu ul li ul a {
		font-size: 1rem;
		padding-top: 0.35rem;
		padding-bottom: 0.35rem;
		padding-left: 1.4rem;
	}

	#menu ul li ul a::before {
		content: none;
	}

	#menu ul li:hover > ul,
	#menu ul li:focus-within > ul,
	#menu ul li ul:hover {
		visibility: visible;
		opacity: 1;
		display: block;
		transition-delay: 0s;
	}

	#menu ul li ul li ul {
		position: relative;
		display: block;
		visibility: visible;
		opacity: 1;
		box-shadow: none;
		padding-left: 0;
	}

	#menu ul li ul li ul a {
		font-size: 0.9rem;
	}

	#menu ul li ul li ul a::before {
		content: "〉";
	}

	ul.ch > li.ch,
	ul.cn > li.cn,
	ul.de > li.de,
	ul.es > li.es,
	ul.fr > li.fr,
	ul.it > li.it,
	ul.jp > li.jp,
	ul.kr > li.kr,
	ul.uk > li.uk,
	ul.us > li.us {
		border-left: none;
		padding-bottom: 0;
		border-bottom: solid 4px #A91101;
	}

	#menu ul a {
		font-size: 1.4rem;
	}

	body > main {
		margin-top: 4.5rem;
	}
}

/****************************** Generic elements ******************************/

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.85em;
	font-weight: normal;
	color: #3c3e37;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size: 1.30em;
	font-weight: normal;
	color: #3c3e37;
}

h3,h4,h5,h6 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: lighter;
	color: #3c3e37;
}

a {
	color: #a91101;
	text-decoration: none;
}

/*********************************** Article **********************************/

article {
	--article-margin: 0.75em;
}

/* Article header */

article > header {
	margin-bottom: 1.8em;
	text-align: center;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 2 * var(--article-margin));
}

article > header .title {
	font-family: 'Raleway', sans-serif;
	font-size: calc(1.5em + 1.5rem);
	color: #42443c;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0.2em;
}

article > header .subtitle {
	font-family: 'Reenie Beanie', serif;
	font-size: calc(1.4em + 0.19rem);
	color: #a7a99e;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0.4em;
}

article > header .authors {
	display: flex;
	justify-content: center;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0.2em;
}

article > header .author {
	list-style-type: none;
	font-family: 'Oswald', sans-serif;
	color: #848778;
	margin: 0 1em;
}

article > header div.date {
	font-family: 'Roboto', sans-serif;
	color: #a7a99e;
	font-size: 0.8em;
	margin-top: 0;
	margin-bottom: 0.5em;
}

article > main {
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	max-width: 33em;
	width: calc(100% - 2 * var(--article-margin));
	padding-left: var(--article-margin);
	padding-right: var(--article-margin);
}

article > main > figure,
article > main > .escape-column {
	text-align: center;
	margin-left:  calc(50% - 48vw);
	margin-right: calc(50% - 48vw);
}

article > main > figure > * {
	max-width: calc(100% - 2 * var(--article-margin));
	margin-left: var(--article-margin);
	margin-right: var(--article-margin);
}

.google-sheets.image {
	display: none;
	height: auto;
}

.google-charts {
	display: inline-block;
	width: calc(100% - 2 * var(--article-margin));
	max-width: 1024px;
	height: 500px;
}

@media screen and (max-width: 850px) {
	.google-sheets.interactive,
	.google-sheets.interactive + figcaption {
		display: none;
	}

	.google-sheets.image {
		display: initial;
	}
}

/* Article main footnotes */

article > main .footnotes {
	margin-top: 2.5em;
	/* color: #a91101; */
}

article > main .footnotes > ol > li {
	padding-left: 0.2em;
}

article > main .footnotes > ol > li > p:only-child {
	margin: 0;
}

article > main .footnotes > ol > li > p a:last-child {
	margin-left: 0.3em;
}

article > main .footnotes > ol > li > p:not(:only-child) a:last-child::before {
	content: "\a";
	white-space: pre;
}

</style>
